.duda-sso-container {
  padding: 50px;
  font-family: "Roboto", Sans-serif;
}

.duda-sso-container>h1 {
  font-size: 25.7px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #444444;
  margin-bottom: 0;
}

.duda-sso-container>p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: normal;
  color: #444444;
}

.duda-sso-container .text-center {
  text-align: center;
}

.duda-sso-container .text-uppercase {
  text-transform: uppercase;
}

.duda-sso-container .all-templates {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}

.duda-sso-container .all-templates .single-template {
  flex: 0 0 33.333333%;
  max-width: calc(33.333333% - 20px);
  margin: 10px 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .075);
  border: 1px solid rgba(0, 0, 0, .075);
  border-radius: 4px;
}

.duda-sso-container .all-templates .single-template:nth-child(3n + 1) {
  margin-left: 0;
}

.duda-sso-container .all-templates .single-template:nth-child(3n) {
  margin-right: 0;
}

.duda-sso-container .all-templates .single-template .thumbnail {
  padding: 20px;
  padding-bottom: 0px;
  background-color: rgb(247, 247, 247);
  height: 235px;
}

.duda-sso-container .all-templates .single-template .thumbnail>div {
  overflow: hidden;
  widows: 100%;
  height: 100%;
}

.duda-sso-container .all-templates .single-template .summary {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.duda-sso-container .all-templates .single-template .summary .template-name {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #444444;
  margin: 0;
}

.duda-sso-container .all-templates .single-template .summary .template-preview {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #124e7e;
}

.duda-sso-container .all-templates .single-template .summary .template-preview:hover {
  opacity: .75;
}

.duda-sso-container .all-templates .single-template .summary hr {
  margin: 30px -15px 15px;
}

.duda-sso-container .all-templates .single-template .summary .template-select {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #62e3ff;
}

.duda-sso-container .all-templates .single-template .summary .template-select:hover {
  opacity: .75;
}

/* Product addons jquery modal */
.no-close .ui-dialog-titlebar-close {
  display: none;
}