.duda-sso-container {
  padding: 50px;
  font-family: "Roboto", Sans-serif;
}

.duda-sso-container>h1 {
  font-size: 25.7px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #444444;
  margin-bottom: 0;
}

.duda-sso-container>p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: normal;
  color: #444444;
}

.duda-sso-container .text-center {
  text-align: center;
}

.duda-sso-container .text-uppercase {
  text-transform: uppercase;
}

.duda-sso-container .all-templates {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}

.duda-sso-container .all-templates .single-template {
  flex: 0 0 33.333333%;
  max-width: calc(33.333333% - 20px);
  margin: 10px 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .075);
  border: 1px solid rgba(0, 0, 0, .075);
  border-radius: 4px;
}

.duda-sso-container .all-templates .single-template:nth-child(3n + 1) {
  margin-left: 0;
}

.duda-sso-container .all-templates .single-template:nth-child(3n) {
  margin-right: 0;
}

.duda-sso-container .all-templates .single-template .thumbnail {
  padding: 20px;
  padding-bottom: 0px;
  background-color: rgb(247, 247, 247);
  height: 235px;
}

.duda-sso-container .all-templates .single-template .thumbnail>div {
  overflow: hidden;
  widows: 100%;
  height: 100%;
}

.duda-sso-container .all-templates .single-template .summary {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.duda-sso-container .all-templates .single-template .summary .template-name {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #444444;
  margin: 0;
}

.duda-sso-container .all-templates .single-template .summary .template-preview {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #124e7e;
}

.duda-sso-container .all-templates .single-template .summary .template-preview:hover {
  opacity: .75;
}

.duda-sso-container .all-templates .single-template .summary hr {
  margin: 30px -15px 15px;
}

.duda-sso-container .all-templates .single-template .summary .template-select {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #62e3ff;
}

.duda-sso-container .all-templates .single-template .summary .template-select:hover {
  opacity: .75;
}

/* Product addons modal */
.duda-addons-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 600;
  background-color: rgba(0, 0, 0, 0.7);
}

.duda-addons-container .duda-addons-modal {
  width: 50%;
  height: 40%;
  left: 25%;
  top: 30%;
  position: absolute;
  background: #fff;
  box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
}

.duda-addons-container .duda-addons-modal a.close {
  position: absolute;
  top: 0;
  right: 0;
  font: 300 1.71429em "dashicons" !important;
  color: #777;
  content: '\f335';
  display: inline-block;
  padding: 10px 20px;
  z-index: 5;
  text-decoration: none;
  height: 50px;
  border-left: 1px solid #ddd;
}

.duda-addons-container .duda-addons-modal a.close:hover {
  background: #eee;
  opacity: 0.8;
}

.duda-addons-container .duda-addons-modal .modal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 0px 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.duda-addons-container .duda-addons-modal .modal-content {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 65px;
  left: 0;
  overflow: auto;
  padding: 30px;
}

.duda-addons-container .duda-addons-modal .modal-footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px 20px;
  border-top: 1px solid #ddd;
  background: #fff;
  text-align: right;
}

/* neighborhoods container */
.neighborhoods-select-container {
  height: 80vh;
  margin: auto;
}

.neighborhoods-select-container form h2 {
  margin: 30px 0;
}

.neighborhoods-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.neighborhoods-container label {
  flex: 0 0 25%;
  max-width: 25%;
  display: inline-block;
}

.neighborhoods-container label input[type="checkbox"] {
  position: relative;
  left: auto;
}

.woocommerce #order_review table.shop_table tbody td.product-name {
  width: 320px;
}

.woocommerce table.shop_table a.remove {
  text-align: center;
  line-height: 25px;
}